.Checkout {
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
  grid-row-gap: 1.5em;
  display: grid;
  padding: 0 0 4em 0;
  margin-top: 10px;
}
.Checkout-bill {
  color: #0d0f10;
  margin: 0 auto;
}
.Checkout p {
  margin: 0;
}
.Container-img {
  width: 200px;
  margin: 0 auto;
}
.Container-img img {
  width: 100%;
}
.price {
  color: #4caf50;
}
.text-bill {
  display: flex;
}
.text-header-bill {
  text-align: center;
  flex-direction: column;
}
.position {
  margin: 12px 0;
}
.thanks {
  margin-top: 15px;
}
.text-description-bill {
  justify-content: space-between;
  padding: 0px 11px 0px 0px;
}
.Checkout-content {
  background: #edebe8;
  padding: 30px 15px 15px 15px;
  border-radius: 7px;
}
.Checkout-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;
}
.Checkout-item .fas {
  margin: 0 0 0 10px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.Checkout-item .fas:hover {
  color: #a00000;
}
.Checkout-item button {
  background-color: transparent;
  border: none;
  outline: none;
}
.Checkout-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.Checkout-element h4 {
  margin: 0;
}
.container-button-home {
  text-align: center;
  margin: 40px 0;
}
.Checkout-sidebar button {
  background: #eada37;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}
@media (max-width: 650px) {
  .Checkout {
    grid-template-columns: 1fr;
    margin-top: 20px;
    grid-gap: 0;
  }
  .Checkout-sidebar {
    grid-area: 1/1/2/2;
    padding: 20px 13px;
  }
}
@media (max-width: 410px) {
  .Checkout-bill {
    font-size: 12px;
  }
  .Checkout-content {
    padding: 30px 10px 15px 10px;
  }
}
@media (max-width: 350px) {
  .Checkout-bill {
    font-size: 11px;
  }
  .text-bill {
    margin-top: 6px;
  }
}
