.Footer {
  display: flex;
  justify-content: space-between;
}
.social-media {
  /* display: flex; */
  /* text-align: end; */
  /* margin-right: 62px; */
}
.footer-button {
  font-size: 25px;
  margin: 0 5px;
}
.footer-button:hover {
  font-size: 26px;
}
.instagram {
  color: #e44862;
}
.github {
  color: #2f2f2f;
}
.icon-media {
  width: 22px;
}
