.Footer {
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid #b1b1b1;
  margin-top: 15px;
}
.footer-button {
  font-size: 25px;
  margin: 0 5px;
}
.footer-button:hover {
  font-size: 26px;
}
.instagram {
  color: #e44862;
}
.github {
  color: #2f2f2f;
}
.icon-media {
  width: 22px;
}
