@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
}

.Main {
  grid-template-columns: minmax(auto, 1000px);
  /* max-width: 1200px; */
  display: grid;
  justify-content: center;
}
