.pagos {
  text-align: center;
  padding: 10px 30px;
}
.opciones-pago {
  margin-bottom: 25px;
  min-height: 0;
  padding: 0;
}
.menu-pagos {
  border-radius: 7px;
  background: rgb(255, 255, 255);
}
.ui-text {
  text-align: left;
  padding: 10px;
  font-size: 18px;
}
.button-pago {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: #eada37;
  border-radius: 6px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}
@media (max-width: 650px) {
  .pagos {
    grid-area: 1/1/2/2;

    padding: 10px;
  }
}
